<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/assets/dist/css/adminlte.min.css">
    <style>
        /* You can add global styles to this file, and also import other style files */
        body {
            background: linear-gradient(rgb(22, 27, 63), rgb(69, 37, 186));
            /*background: linear-gradient(rgb(108, 7, 209), rgb(156, 0, 96));*/
            /* background: linear-gradient(to right, rgb(87, 53, 166), rgb(66, 14, 255));*/
            color: white;
        }
    </style>

</head>
<body class="hold-transition login-page">
    <div class="login-box" style="color:wheat">
        <div class="login-logo accent-dark">
            <a href="/admin"><b></b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
           @RenderBody()
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/assets/dist/js/adminlte.min.js"></script>
</body>
</html>
